/* Variables CSS */
:root {
  /* Colores */
  --color-primary: rgb(12, 106, 255);
  --color-title: #000000;
  --color-secondary: #f0f0f0;
  --color-background: #fff;
  --color-button-primary: #1e90ff;
  --color-button-secondary: #ffffff;
  --color-error: #ff0000;
}

/* Reset y Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la página de login */
.login-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: var(--color-background);
}

/* Grid y disposición de elementos */
.GridArea {
  display: grid;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  grid-template-areas:
    "welcome login"
    "welcome login"
    "welcome login";
  grid-gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/* Estilos para la sección de bienvenida */
.Welcome {
  grid-area: welcome;
  width: 100%;
  padding: 1rem;
}

/* Tipografía y estilos de texto */
.Info-Title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Enlaces y estilos de texto */
.Welcome-Text,
.Redirect-Text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--color-title);
  text-decoration: none;
}

.Link-Forms {
  text-decoration: none;
  color: var(--color-primary);
}

/* Formulario de inicio de sesión */
.Form-Login {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-background);
}

/* Estilos para títulos de secciones */
.Form-Login h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Estilos para grupos de campos */
.Form-Group {
  margin-bottom: 2rem;
  position: relative;
}

/* Estilos para etiquetas de campos */
.Label-Forms {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-primary);
}

/* Estilos para campos de entrada */
.Input-Forms {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--color-secondary);
  transition: background-color 0.3s ease;
}

.Input-Forms:focus {
  outline: none;
  background: linear-gradient(to top, var(--color-secondary) 0%, #fff 100%);
}

.Input-Forms.error {
  outline: 1px solid var(--color-error);
}

/* Estilos para mensajes de error */
.Error-Container {
  height: 10px;
  /* Ajusta esta altura según sea necesario */
}

.Error-Message {
  color: var(--color-error);
  font-size: 0.875rem;
  margin-top: 5px;
  position: absolute;
}

/* Estilos para botones */
.Button-Forms {
  width: 100%;
  height: 50px;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button-Forms:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .GridArea {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    z-index: 500;
    box-shadow: none;
  }
  .Welcome {
    display: none;
  }
  .Redirect-Text {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}