.HomeNav {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  z-index: 99999999999999;
}

.HomeNav .Nav-Logo {
  width: 60px;
  height: 60px;
  scale: 3;
  margin: 0 0 10px 80px;
  background-image: url('../../../assets/Svg/Logos/TInyFyLogoNombreBlancoLado.svg');
  background-position: center;
}

.HomeNav .Nav-List {
  display: flex;
  list-style: none;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.HomeNav .Nav-Item {
  text-align: center;
  width: 150px;
}

.HomeNav .Nav-Item a {
  text-decoration: none;
  color: var(--color-background);
  font-weight: bold;
  font-size: 1.25rem;
  position: relative;
}

.HomeNav .Nav-Item a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--color-title);
  transition: width 800ms ease;
  transform: translateX(-50%);
}
.HomeNav .Nav-Item a:not(:hover)::after {
  width: 0px;
}

.HomeNav.scrolled {
  background-color: var(--color-background);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 14px #333;
}

.HomeNav.scrolled a{
  color: var(--color-title);
}
.HomeNav.scrolled .Nav-Item a::after{
  background-color: var(--color-primary);
}
.HomeNav.scrolled .Nav-Logo{
  background-image: url('../../../assets/Svg/Logos/TInyFyLogoNombreLado.svg');
}

.Nav {
  display: flex;
  width: 100vw;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-background);
}

.Nav .Nav-Logo {
  width: 60px;
  height: 60px;
  margin: 0 50px;
  scale: 3;
  margin: 0 0 10px 80px;
  background-image: url('../../../assets/Svg/Logos/TInyFyLogoNombreLado.svg');
}

.Nav-List {
  display: flex;
  list-style: none;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Nav-Item {
  text-align: center;
  width: 150px;
}

.Nav-Item a {
  text-decoration: none;
  color: var(--color-title);
  font-weight: bold;
  font-size: 1.25rem;
  position: relative;
}

.Nav-Item a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 800ms ease;
  transform: translateX(-50%);
}

.Nav-Item a:not(:hover)::after {
  width: 0px;
}

.Nav.scrolled {
  filter: brightness(0.95);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 14px #333;
}


.Menu-Button {
  display: none;
}

@media screen and (max-width: 768px) {
  .Nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
  }
  .Nav-Logo {
    margin: 20px;
  }

  .Nav-List {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    flex-direction: column;
  }
  .Nav-List.open {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Nav-Item {
    margin: 10px 0;
  }
  .Menu-Button {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 0;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .Nav.scrolled .Nav-Logo {
    width: 80px;
    height: 80px;
  }
}

/* Menu button styles */
.menuBarra {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuBarra span {
  display: block;
  width: 35px;
  height: 4px;
  background: var(--color-title);
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.menuBarra.open .fila1 {
  transform: translateY(15px) rotate(45deg);
}

.menuBarra.open .fila2 {
  opacity: 0;
}

.menuBarra.open .fila3 {
  transform: translateY(-12px) rotate(-45deg);
}
