
DEBUG = True 

# LOS DATOS DE LA BASE DE DATOS SE TIENEN QUE CAMBIAR POR LOS QUE SE TENGAN EN LOCAL
# COPIEN EL ARCHIVO .env.example
# QUITEN EL .EXAMPLE
# COLOQUEN LAS CREDENCIALES DE LA BASE DE DATOS ACA ABAJO

# TIENEN QUE CREAR UNA SECRET KEY
SECRET_KEY= 

ADSTERRA_KEY =
PAYPAL_KEY =

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=tinyapp