footer {
    display: flex;
    width: 100vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary);
}
.Derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    color: var(--color-background);
}   

.Footer-Logo {
    width: 100px;
    height: 100px;
    align-self: center;
    text-align: center;
}

.Name-Footer {
    text-shadow: 0 0 10px var(--color-intermediate-two);
}