:root {
  --color-primary: #0c6aff;
  --color-intermediate-one: #00698F;
  --color-secondary: #00415D;
  --color-intermediate-two: #4C9AE4;
  --color-tertiary: #7CC0E5;
  --color-intermediate-three: #0098C6;
  --color-title: #000000;
  --color-background: #fff;
  --color-inputs: #f0f0f0;
  --color-error: #ff0000;
  --font-family-primary: "Roboto", sans-serif;
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  display: inline-flex;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}


::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 6px; 
  border: 3px solid transparent; 
  background-clip: content-box; 
  opacity: 0.2; 
  transition: opacity 0.3s ease;
}

::-webkit-scrollbar-track {
  display: none;
}