/* Estilos para la sección de registro de usuario */
.Registro-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 100%;
  background-color: var(--color-background);
}

/* Estilos para el formulario de registro */
.Form-Registro {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-background);
}

.Form-Registro h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Estilos para grupos de campos */
.Form-Group {
  margin-bottom: 2rem;
}

/* Estilos para etiquetas de campos */
.Label-Forms {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-title);
}

/* Estilos para campos de entrada */
.Input-Forms {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background: var(--color-secondary);
  transition: background-color 0.3s ease;
}

.Input-Forms:focus {
  outline: none;
  background: linear-gradient(to top, var(--color-secondary) 0%, #fff 100%);
}

/* Estilos para botones */
.Button-Forms {
  width: 100%;
  height: 50px;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button-Forms:hover {
  background-color: #444;
}

/* Estilos para texto de redirección */
.Redirect-Text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  color: var(--color-title);
}

/* Estilos para enlaces y textos */
.link-forms {
  color: var(--color-title);
  font-weight: 600;
}
.Redirect-Boton {
  display: none;
}

@media screen and (max-width: 768px) {
  .Welcome {
    display: none;
  }
  .GridArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    flex-direction: column;
    z-index: 500;
    box-shadow: none;
  }
  
}