/* TextWithBorder.css */
.text-with-border {
    position: relative;
    display: inline-block;
    color: var(--color-intermediate-two); /* Color del texto */
    text-align: center;
  }
  
  .text-with-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px; /* Grosor del borde */
    background-color: var(--color-intermediate-two); /* Color del borde */
    transition: width 0.5s ease, left 0.5s ease; /* Transición para la animación de expansión y retracción */
  }
  
  .text-with-border:hover::after {
    width: 100%; /* Al pasar el ratón, el borde se expande */
    left: 0; /* Aparece desde el borde izquierdo */
  }
  
  .text-with-border:not(:hover)::after {
    width: 0; /* Cuando el ratón no está sobre el elemento, el borde se retrae */
    left: 50%; /* Se retrae hacia el centro */
  }
  